* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
     
}
.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75 )), url(bg5.jpg);
    background-size: cover;
    background-position: center;
}
.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 120px;
    cursor: pointer;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: bisque;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: beige;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
    color: beige;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    color: beige;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid bisque;
    background: transparent;
    color: beige;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background : burlywood;
    height: 100px;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
section{
    width: 80%;
    margin: 80px auto;
}
section:nth-child(){
    background: bisque;
}
.title{
    text-align: center;
    font-size: 4vmin;
    color: black;
}
.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    
}
.row .col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.events .row{
    margin-top: 50px;
}
h4{
    font-size: 3vmin;
    color: brown;
    margin: 20px auto;
}
p{
    color: black;
    padding: 0px 40px;
}
.events .ctn {
    margin-top: 30px;
}

.content .col{
    width: 40%;
}
.image-col{
    width: 60%;
}
.tours .col{
    text-align: center;
}
.tours .image-gallery{
    display: flex;
    flex-wrap: wrap;
    width: %;
   align-items: center;
}
.image-gallery img{
    max-width: 300px;
    margin: 10px;
}
.content-col h1{
    font-size: 7vmin;
    color: black;
}
.content-col .line{
    margin-left: -1px;
}
.content-col p{
    padding: 0;
    margin: 30px auto;
}
.content-col .ctn{
    margin-left: -100px;
}
.footer{
    width: 100%;
    height: 100px;
    padding: 20px 80px;
    margin: 0;
    background: burlywood;
    text-align: center;
}
.footer p{
    color: black;
    margin: 20px auto;
}
.row{
    flex-direction: column;
}
.row .col{
    margin: 20px auto;
}
.col img{
    max-width: 90%;
}
.tours .col{
    width: 100%;
}
.image-gallery{
    justify-content: center;
    align-items: center;
}
.image-gallery img{
    width: 90%; 

}
.info .title{
    justify-content: center;
}
.info .row{
    background: bisque;
}